<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- mustache -->
    <span v-once>Message: {{ msg }}</span>
    <!-- v-html -->
    <p>Using mustache: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    <!-- Attribute -->
    <div v-bind:id="dynamicId"></div>
    <!-- 布尔值略有不同 -->
    <button v-bind:disabled="isButtonDisabled">Button</button>
    <!-- truthy 保持一致， falsy attribute被忽略 -->

    <!-- Vue 为 v-bind 和 v-on 这两个最常用的指令，提供了特定简写： -->
    <!-- 完整语法 -->
    <a v-bind:href="url"> ... </a>

    <!-- 缩写 -->
    <a :href="url"> ... </a>

    <!-- 动态参数的缩写 -->
    <a :[key]="url"> ... </a>

    <!-- v-on 缩写 -->
    <a @click="doSomething"></a>
    <a @[event]="doSomething"></a>

    <!-- -------------------------------- -->
    <!-- watch 侦听器 -->
    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question" />
        </p>
        <p>{{ answer }}</p>
    </div>

    <!-- 条件渲染 -->
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no</h1>
    <!-- template -->
    <template v-if="ok">
        <h1>Title</h1>
        <p>Para1</p>
        <p>Para2</p>
    </template>

    <!-- ----列表渲染------ -->
    <ul id="array-rendering">
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>



    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.17.20/lodash.min.js"></script>
    <script src="./vue.js"></script>
    <script>
        const watchExampleVM = Vue.createApp({
            data() {
                return {
                    question: '',
                    answer: 'Questions usually contain a question mark. ;-)'
                }
            },
            watch: {
                // whenever question changes, this function will run
                question(newQuestion, oldQuestion) {
                    if (newQuestion.includes("?")) {
                        this.getAnswer();
                    }
                }
            },
            methods: {
                getAnswer() {
                    this.answer = 'Thinking...';
                    axios
                        .get('https://yesno.wtf/api')
                        .then(reponse => {
                            this.answer = reponse.data.answer
                        })
                        .catch(err => {
                            this.answer = 'Error! could not reach the API ' + err
                        })
                }
            }
        }).mount('#watch-example');
    </script>
</body>
</html>