<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
</head>
<body>
    <!-- 在 v-for 块中，我们可以访问所有父作用域的 property。
        v-for 还支持一个可选的第二个参数，即 当前项的索引。 -->
    
    <ul id="array-with-index">
        <li v-for="(item, index) of items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

    <!-- 用 v-for 来遍历一个对象的 property。 (Object.keys())-->
    <ul id="v-for-object" class="demo">
        <li v-for="(value, key, index) of myObject">
            {{ index }}.{{ key }}: {{ value }}
        </li>
    </ul>
    <!-- provide a key attribute -->
    <div v-for="item in items" :key="item.id">  </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.17.20/lodash.min.js"></script>
    <script src="./vue.js"></script>
</body>
</html>