<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="dynamic-component-demo">
        <button 
            v-for="(tab, index) in tabs"
            :key="index"
            :class="['tab-button', {active: currentTab === tab}]"
            @click="currentTab = tab"
        >
            {{ tab }}
        </button>
        <!-- 组件会在 `currentTabComponent` 改变时改变 -->
        <component :is="currentTabComponent"></component>



        <!-- ------------------------------------------------------ -->

        <!-- 解析dom模板时的注意事项 -->
        <!-- 有些 HTML 元素，诸如 <ul>、<ol>、<table> 和 <select>，
            对于哪些元素可以出现在其内部是有严格限制的。
            而有些元素，诸如 <li>、<tr> 和 <option>，只能出现在其它某些特定的元素内部。 -->

        <!-- 我们可以使用特殊的 is attribute 作为一个变通的办法： -->
        <table>
            <tr is="vue:blog-post-row"></tr>
        </table>
        <!-- 当它用于原生 HTML 元素时，is 的值必须以 vue: 开头，才可以被解释为 Vue 组件。这是避免和原生自定义元素混淆。 -->


        <!-- Case insensitivity -->
        <!-- HTML attribute 名不区分大小写，浏览器将所有大写字符解释为小写
            这意味着当你在 DOM 模板中使用时，
            驼峰 prop 名称和 event 处理器参数需要使用它们的 kebab-cased (横线字符分隔) 等效值 -->

        

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.js"></script>
    <script>

        const app = Vue.createApp({
            data() {
                return {
                    currentTab: 'Home',
                    tabs: ['Home', 'Posts', 'Archive']
                }
            },

            computed: {
                currentTabComponent() {
                    return 'tab-' + 
                        this.currentTab.toLowerCase()
                }
            }
        })

        app.component('tab-home', {
            template: `<div class="demo-tab"> Home component </ div> `
        })
        app.component('tab-posts', {
            template: `<div class="demo-tab"> Home component </ div> `
        })
        app.component('tab-archive', {
            template: `<div class="demo-tab"> Home component </ div> `
        })

        app.mount("#dynamic-component-demo");

    </script>
</body>
</html>