<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- v-model -->
    <!--  -->
    
        <!-- <input type="text" v-model="message" placeholder="edit me" />
        <p>Message is : {{ message }}</p> -->

        <!-- <div id="v-model-select-dynamic" class="demo">
            <select v-model="selected">
                <option v-for="option in options" :value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <p>Selected: {{ selected }}</p>
        </div> -->

        


    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.js"></script>
    <script>
        // Vue.createApp({
        //     data() {
        //         return {
        //             selected: 'A',
        //             options: [
        //                 {text: 'one', value: 'A'},
        //                 {text: 'two', value: 'B'},
        //                 {text: 'three', value: 'C'}
        //             ]
        //         }
        //     }
        // }).mount('#v-mode-select-dynamic')


    </script>
</body>
</html>